*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(233, 205, 220);
}

.row{
    background-color: white;
    border-radius: 30px;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.col-lg-5{
    padding:0;
    width: 450px;
}

.col-lg-7{
    width: 450px;
    text-align: center;
}

.row{
    width:1050px;
    
    margin:auto;
    margin-top:75px;
   box-shadow: 12px 12px 22px grey; 

}

.container{
    display:grid;
}


.btn1{
    border:none;
    outline:none;
    height: 50px;
    width:100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background: white;
    border: 1px solid;
    color: black;
}